@use '@/sass/variables.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
@use 'sass:color';
table {
  td,
  th {
    font-size: 16px !important;
  }
  thead {
    white-space: nowrap;
    overflow: hidden;
    .v-data-table__td {
      background: $thead;
      .v-data-table-header__content {
        span {
          color: #fff;
          font-weight: bold;
        }
      }
      &:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
      }
      &:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: #faede5;
      }
    }
  }
}
.table {
  border-radius: 15px !important;
  margin-top: 0.75rem !important;
}
.dataTable {
  td {
    min-width: 100px !important;
  }
}
.editInfoList {
  li {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d7d7d7;
    &:last-child {
      border-bottom: none;
    }
    .title {
      padding-left: 0.8rem;
      position: relative;
      margin-bottom: 0.5rem;
      &::before {
        left: 0;
        top: 6px;
        width: 6px;
        height: 12px;
        background: url('@/assets/images/arrow_icon.png') center center no-repeat;
        background-size: cover;
        position: absolute;
        content: '';
      }
      + div {
        margin-left: 1.5rem;
      }
    }
  }
}
.v-alert {
  border-radius: 1rem !important;
  .v-alert__content {
    font-weight: bold;
  }
}

.v-data-table__td {
  .v-input--disabled {
    color: #a4a4a4;
  }
  .v-selection-control--disabled {
    opacity: 0.2;
  }
}
