@use '@/sass/variables.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
@use 'sass:color';

* {
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
  }
  input,
  select {
    border-radius: 0.25rem !important;
  }
}
.logoImg {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  .logo {
    width: 240px;
  }
  .text {
    font-weight: bold;
    color: $primary;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: rem(32);
    letter-spacing: 0.1rem;
  }
  .v-img {
    &:nth-child(2) {
      margin-left: rem(16);
      width: 250px;
    }
  }
  @include screen('notebook') {
    margin-left: 1rem;
    .logo {
      max-width: 40vw;
    }
  }
  @include screen('tablet') {
    .text {
      font-size: rem(24);
    }
  }
  @include screen('mobile') {
    .logo {
      max-width: 30vw;
    }
    .text {
      font-size: rem(20);
      margin-bottom: 0.25rem;
    }
  }
}
//左側選單
.navDrawer {
  &.v-navigation-drawer {
    border: 0;
    background-color: unset;
    height: calc(100% - 80px) !important;
    top: 80px !important;
    overflow: hidden;
    @include screen('notebook') {
      background: #604c3f;
      box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 3px;
    }
  }
  > .v-navigation-drawer__content {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    .v-list {
      flex-grow: 1;
      overflow-y: scroll;
      padding-inline: 4px;
      margin-top: 1.8rem;
      &::-webkit-scrollbar-track {
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #f5f5f500;
      }
      .v-list-item--nav:not(:only-child) {
        margin-bottom: 0;
      }
      .v-list-item__spacer {
        width: 12px;
      }
    }
    .v-list-item {
      padding: 0.5rem 1rem;
      height: rem(44);
      .v-list-item-title {
        font-weight: bold;
        white-space: break-spaces;
        color: #f6daca;
        line-height: 1.1em;
      }
      + .v-list-group__items {
        .v-list-item {
          height: rem(35);
          padding-inline-start: 12px !important;
          padding: 4px 8px;
          .v-list-item-title {
            margin-left: rem(36);
            font-weight: bold;
          }
        }
      }
      .v-list-item__append {
        color: #f6daca;
      }
    }
  }

  .v-list-item__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    .v-list-item-title {
      line-height: 1.5em;
      font-size: 1em;
    }
  }
  .drawerBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    right: -30px;
    top: calc(50vh - 60px);

    width: rem(60);
    height: rem(60);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 3px;
    span {
      transition: 0.5s all;
      margin-left: 0.5rem;
      font-size: 3rem;
      transform: rotate(180deg);
    }
  }
}
//使用者登入資訊
.userInfo {
  display: flex;
  background: $primary-gradient;
  border-radius: 0.5rem;
  padding: rem(10);
  margin: 0.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  ul li {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em !important;
    color: rgb(255, 255, 255);
  }
  button {
    width: rem(35);
    height: rem(35);
    border-radius: 50%;

    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.5em;
      font-weight: 600;
      color: #fff;
    }
  }
}
//左側選單點擊收起
.navDrawer.hidden {
  @include screen('notebook') {
    width: 0 !important;
  }
  > .v-navigation-drawer__content {
    .logoImg {
      margin: rem(30) rem(10);
      .logo {
        + h1 {
          display: none;
        }
      }
      + .v-list {
        width: unset;
      }
    }
    .v-list-group {
      .v-list-item {
        .v-list-item__content {
          justify-content: center;
          .v-list-item-title {
            display: none;
          }
          img {
            width: rem(24);
            height: rem(24);
            margin-right: 0;
          }
        }
        .v-list-item__append {
          display: none;
        }
        + .v-list-group__items {
          display: none;
        }
      }
    }
  }
  .userInfo {
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    .v-avatar,
    ul {
      display: none;
    }
  }
  .drawerBtn {
    span {
      transform: rotate(0deg);
    }
  }
}

// 手機版本開合設定
main {
  @include screen('notebook') {
    padding: 0 !important;

    width: 100% !important;
  }

  &.v-main {
    --v-layout-top: 0px !important;
    z-index: 1;
    > div {
      background: rgb(245, 215, 197);
      background: linear-gradient(170deg, rgba(245, 215, 197, 1) 0%, rgba(245, 215, 197, 1) 11%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 100%);
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      margin: 0.5rem 0rem 0 0.5rem;
      border-radius: 1rem 0 0 0;
      height: calc(100vh - 80px - 0.5rem);
      overflow-y: scroll;
      &:has(.bookshelfContainer) {
        overflow: hidden;
      }
      @include screen('mobile') {
        margin: 0;
        height: calc(100vh - 80px);
        border-radius: 0;
      }
      &::-webkit-scrollbar-track {
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $primary;
      }

      > .v-container {
        height: 100%;
        padding: 1rem 3rem;
        @include screen('notebook') {
          padding: 1rem;
        }
      }
    }
  }
}
header {
  background: none !important;
  @include screen('notebook') {
    left: 0 !important;
    width: 100% !important;
  }
}
.v-application__wrap {
  background: #604c3f;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: rem(1180);
    height: rem(120);
    background: url('@/assets/images/bg_topImg.png') no-repeat;
    background-size: contain;
  }
  @include screen('notebook') {
    &::after {
      display: none;
    }
  }
}
.header {
  height: 80px !important;
  box-shadow: none !important;
  background-color: unset !important;
  z-index: 1006 !important;
  position: relative;
  .v-toolbar__content {
    height: 80px !important;
    padding: 0 0.5rem;
    @include screen('notebook') {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .v-btn {
      width: 50px;
      height: 50px !important;
      margin-left: 1rem !important;
      background: #331919 !important;
    }
  }
}
.backBtn {
  display: block !important;
}

//背景顏色設定
.loginName {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1003;
  .title {
    margin: 0 1em;
    span {
      color: #000;
      font-weight: bold;
      margin-right: 0.75em;
    }
  }
  .v-btn {
    cursor: pointer;
  }
  @media (max-width: 960px) {
    position: relative;
    top: 0;
    right: 0;
    .v-btn {
      margin-bottom: 0 !important;
    }
  }
}
.container {
  &.v-container {
    max-width: unset !important;
  }
}

.bg-blue-gradient {
  background: $blue-gradient !important;
}

.v-main {
  h2 {
    font-size: rem(28);
    color: $primaryText;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
    position: relative;
    padding-left: 1.75rem;
    margin-right: 0.5rem;
    &::before {
      position: absolute;
      content: '';
      width: 18px;
      top: 4px;
      left: 6px;
      height: 18px;
      background: url('@/assets/images/arrow_icon.png') no-repeat;
      background-size: contain;
    }
  }
  .v-breadcrumbs {
    padding: 1rem 0;
    font-weight: bold;
  }
  h3 {
    font-size: rem(24);
    margin-left: 0.25rem;
    .v-select {
      .v-field {
        background-color: color.scale(#f4f4f3, $lightness: -3%) !important;
      }

      min-width: 150px;
    }
  }
  h4 {
    font-weight: bold;
  }
  .filterList {
    div {
      &:nth-child(odd of .v-col-6.v-col-lg-6) {
        padding-left: 0.75rem;
        padding-right: 0rem;
      }
      &:nth-child(even of .v-col-6.v-col-lg-6) {
        padding-right: 0.75rem;
        padding-left: 0.5rem;
      }
    }

    > div {
      &:first-child {
        padding-left: 0.75rem;
      }
      &:last-child {
        padding-right: 0.75rem;
      }
      padding: 0 0.25rem 0.75rem 0.25rem;

      @include screen('desktop') {
        &:nth-child(3n) {
          padding-right: 0.75rem;
        }
        &:nth-child(3n + 1) {
          padding-left: 0.75rem;
        }
      }

      @include screen('tablet') {
        &:nth-child(3n),
        &:nth-child(3n + 1) {
          padding: 0 0.25rem 0.75rem 0.25rem;
        }
        &:nth-child(2n) {
          padding-right: 0.75rem;
        }
        &:nth-child(2n + 1) {
          padding-left: 0.75rem;
        }
      }
    }
    &.col_2 {
      .v-col-md-6.v-col-12 {
        padding-left: 0.5rem;
        &:first-child {
          padding-left: 0.75rem;
          padding-right: 0rem;
        }
      }
      @media screen and (max-width: 960px) {
        .v-col-md-6.v-col-12 {
          padding: 0.75rem;
          &:first-child {
            padding-right: 0.75rem;
          }
        }
      }
      @include screen('tablet') {
        .v-col-md-6.v-col-12 {
          padding: 0.75rem;
          &:first-child {
            padding-right: 0.75rem;
          }
        }
      }
    }
  }
  .searchList {
    min-width: 360px;
    button {
      margin-left: 0.5rem;
      width: 100px;
    }
    @include screen('desktop') {
      width: 100%;
      margin-bottom: 0.5rem;
      min-width: unset;
    }
  }
  .btnList {
    .v-btn {
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
  .stickyBlock {
    top: 32px;
  }
  .pageLinkBtn {
    margin-bottom: 0.5rem;
    > .v-card {
      border-radius: 58px !important;
    }
    button {
      &:after {
        border: none;
      }
    }
    .v-slide-group {
      height: rem(58);
      button {
        height: rem(58);
        .v-btn__content {
          color: $primary;
        }
      }
      .v-tab__slider {
        background: $sliderText;
        height: 3px;
        color: $sliderText;
      }
    }
    .v-icon {
      font-size: 2.3rem !important;
    }
    .v-slide-group__prev,
    .v-slide-group__next {
      color: #d2c9b8;
    }
    .v-slide-group__prev--disabled,
    .v-slide-group__next--disabled {
      color: #fff;
    }
  }
  .bookshelfStatus {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
    width: 100%;
    > ul {
      display: flex;
      margin-right: 1rem;
      li {
        margin-left: 1rem;
      }
    }
    .available,
    .use,
    .useless,
    .stop {
      position: relative;
      color: $primary;
      font-weight: 500;
      padding-left: 3rem;
      &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 1rem;
        border-radius: 0.2rem;
        left: 0.75rem;
        top: 0.25rem;
      }
    }
    .available {
      &::after {
        background-color: #f3bf86;
      }
    }
    .use {
      &::after {
        background-color: #f09f8a;
      }
    }
    .useless {
      &::after {
        background-color: #99beb6;
      }
    }
    .stop {
      &::after {
        background-color: #98a2ac;
      }
    }
  }
  .bookshelfCard {
    &.v-card {
      max-width: 1460px;
      margin: 0 auto;
      box-shadow: unset !important;
      border-radius: 0 !important;
      overflow: scroll;
      display: flex;

      flex-wrap: wrap;
      &::-webkit-scrollbar-track {
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #f5f5f500;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #f6daca;
      }

      .item {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        button {
          margin: 0.12rem;
          color: #000 !important;
          border-radius: 0.5rem !important;
          height: rem(36);
          padding: 0 1.5rem;
          box-shadow: none;
        }
      }
      > div {
        @media screen and (max-width: 1200px) {
          transform: scale(0.95);
        }
        @media screen and (max-width: 1024px) {
          transform: scale(0.9);
        }
        @media screen and (max-width: 992px) {
          transform: scale(0.8);
        }
      }
    }
    .grp {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .bg-available {
      background: #f3bf86 !important;
    }
    .bg-use {
      background: #f09f8a !important;
    }
    .bg-useless {
      background: #99beb6 !important;
    }
    .bg-stop {
      background: #98a2ac !important;
      cursor: not-allowed;
      &.v-btn--disabled {
        opacity: 0.6;
      }
      .v-ripple__container {
        display: none !important;
      }
      .v-btn__overlay {
        background: unset;
      }
    }
  }
  .bookshelfTable {
    margin-top: 0.5rem;
    .v-table {
      max-width: 1460px;
      margin: 0 auto;
    }
  }
  .btnGrp {
    padding-bottom: 2rem;
    button {
      margin: 0 0.25rem;
    }
    + .alert {
      margin-bottom: 0.5rem;
      margin-top: -1rem;
    }
  }
  .v-col {
    &:has(.bookshelfCard) {
      + .btnGrp {
        .btnWidth {
          min-width: rem(130);
          @include screen('tablet') {
            min-width: rem(80);
          }
        }
      }
    }
  }
}
.bookshelfContainer {
  display: flex;
  flex-direction: column;
  .scrollContent {
    flex-grow: 1;
    overflow: scroll;
    &::-webkit-scrollbar-track {
      background-color: #f5f5f500;
      height: 6px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f500;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      width: 6px;
      background-color: $primary;
    }
  }
}
